{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  %% logging handler
  {lager, "3.2.1"},

  %% pool
  {worker_pool, "2.2.0"},

  %% registry
  {gproc, "0.6.1"},

  %% uuid lib
  {uuid, {pkg, uuid_erl}},

  %% rocksdb backend
  {erocksdb,
    {git, "https://gitlab.com/barrel-db/erocksdb.git", {tag, "0.5.5"}}}
]}.


{ct_compile_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{profiles, [
  {test, [{deps, [
    {meck,
     {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
   ]}
  ]}
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.
