{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  %% logging handler
  {lager, "3.2.1"},

  %% uuid lib
  {uuid, {pkg, uuid_erl}},

  %% rocksdb backend
  {rocksdb, "0.6.0"},

  %% lru
  {lru, "2.3.1"},

  {jsx, "2.8.1"},

  {sext, "1.4.0"}
]}.




{ct_compile_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{profiles, [
  {test, [{deps, [
    {meck,
     {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
   ]}
  ]}
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.
