%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%
{erl_opts, [debug_info]}.

{deps, [
    {hooks, "1.1.1"},
    {jiffy, "0.14.5", {pkg, barrel_jiffy}},
    {snappy, "1.1.1"},
    {lager, "3.0.1"},
    {ucol, "2.0.0"},
    {gproc, "0.5.0"},
    {mochiweb, "2.12.2"},
    {oauth, "1.6.0", {pkg, barrel_oauth}},
    {ibrowse, "4.2.0", {pkg, barrel_ibrowse}},
    {hackney, "1.5.7"},
    {jsx, "2.8.0"},

    %% barrel applications
    {barrel_config, {git, "https://github.com/barrel-db/barrel_config.git",
                     {tag, "1.0.0"}}},


    {barrel_metrics, {git, "https://github.com/barrel-db/barrel_metrics",
                     {tag, "0.2.0"}}},

    {barrel_admin, {git, "https://github.com/barrel-db/barrel_admin",
                    {tag, "0.4.0"}}}
]}.


{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C apps/couch/c_src/barrel_js"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake -C apps/couch/c_src/barrel_js"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C apps/couch/c_src/barrel_js clean"},
              {"(freebsd|netbsd|openbsd)", compile, "gmake -C apps/couch/c_src/barrel_js clean"},
              {compile, "escript support/build_js.escript"}]}.

{relx, [
        {release, {'barrel', "1.14.3"},
         [lager,
          sasl,
          asn1,
          public_key,
          ssl,
          crypto,
          os_mon,
          inets,
          runtime_tools,
          mochiweb,
          ibrowse,
          hackney,
          econfig,
          hooks,
          jsx,
          barrel_metrics,
          barrel_config,
          barrel,
          couch,
          couch_httpd,
          barrel_admin,
          couch_index,
          couch_mrview,
          couch_extra,
          couch_changes,
          couch_replicator,
          couch_randomdoc,
          couch_dbupdates]},

        {sys_config, ""},

        {vm_args, ""},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},

        {overlay_vars, "config/vars.config"},

        {overlay, [
                   {mkdir, "log"},
                   {mkdir, "run"},
                   {mkdir, "data"},

                   %% keep empty files
                   {copy, "config/empty", "log/KEEP"},
                   {copy, "config/empty", "data/KEEP"},


                   %% config files
                   {template, "config/sys.config", "releases/{{rel_vsn}}//sys.config"},
                   {template, "config/vm.args", "releases/{{rel_vsn}}/vm.args"},
                   {template, "config/barrel.ini", "etc/barrel.ini"},
                   {template, "config/local.ini", "etc/local.ini"},

                   %% couchdb data files
                   {mkdir, "share"},
                   {mkdir, "share/server"},
                   {copy, "share/server/main.js", "share/server"},
                   {copy, "share/server/main-coffee.js", "share/server"}

                  ]}
       ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
