%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%
{require_otp_vsn, "18|19"}.

{erl_opts, [
  debug_info,
  {parse_transform, lager_transform},
  {parse_transform, mochicow}
]}.

{deps, [
  {hooks, "1.1.1"},
  {snappy, "1.1.1"},
  {lager, "3.0.1"},
  {ucol, "2.0.0"},
  {gproc, "0.5.0"},
  {oauth, "1.6.0", {pkg, barrel_oauth}},
  {ibrowse, "4.3.1", {pkg, barrel_ibrowse}},
  {hackney, "1.5.7"},
  {jsx, "2.8.0"},
  {hooks, "1.1.1"},
  {econfig, "0.7.3"},
  {exometer_core, "1.0.0"},

  {mochicow, {git, "https://github.com/benoitc/mochicow.git", {tag, "0.6.0"}}}

]}.


{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src/barrel_js"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src/barrel_js"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src/barrel_js clean"},
              {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src/barrel_js clean"},
              {compile, "escript support/build_js.escript"}]}.

{relx, [
  {release, {'barrel', "0.1.0"},
    [lager,
      sasl,
      asn1,
      public_key,
      ssl,
      crypto,
      os_mon,
      inets,
      runtime_tools,
      cowlib,
      ranch,
      cowboy,
      mochiweb,
      mochicow,
      ibrowse,
      hackney,
      econfig,
      hooks,
      jsx,
      exometer_core,
      snappy,
      barrel]},

  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},


  {overlay_vars, "config/vars.config"},
  {overlay, [
    {mkdir, "log"},
    {mkdir, "run"},
    {mkdir, "data"},

    %% keep empty files
    {copy, "config/empty", "log/KEEP"},
    {copy, "config/empty", "data/KEEP"},

    %% config files
    {template, "config/barrel.ini", "etc/barrel.ini"},
    {template, "config/sys.config", "releases/{{rel_vsn}}//sys.config"},
    {template, "config/vm.args", "releases/{{rel_vsn}}/vm.args"}


  ]}
]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.
{post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.


{profiles, [
  {prod, [{relx, [{dev_mode, false},
    {include_erts, true},
    {overlay_vars, "config/vars.config"}]}]
  },

  {test, []}
  ]
}.
