[
  
  {barrel_http, [
    {port, 8080}
  ]},
  
  {barrel, [
    {docs_dir, "docs"},
    
    {dbs, [
      {<<"testdb">>, #{}},
      {<<"source">>, #{}}
    ]},
    
    {replication_file, "data/replication.config"}

  ]},

  {cowboy_swagger, [
    {global_spec,
      #{swagger => "2.0",
        info => #{title => "Barrel-DB HTTP API"},
        basePath => "/_api"
      }
    }
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
