{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [

  {barrel_common, "0.1.0"},

  %% logging handler
  {lager, "3.2.4"},

  %% uuid lib
  {uuid, {pkg, uuid_erl}},

  %% rocksdb backend
  {rocksdb, "0.6.4"},

  %% cache
  {e2qc, {git, "https://benoitc@gitlab.com/barrel-db/e2qc.git", "master"}},

  %% erlang vm metrics
  {vmstats, {git, "https://github.com/ferd/vmstats.git", {tag, "2.1.0"}}}
]}.




{ct_compile_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{profiles, [
  {test, [{deps, [
    {meck,
     {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
   ]}
  ]}
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.
