[
  {barrel, [
    {wpool_opts, [{overrun_warning, 100}]},
  
    {stores, [
      {testdb, {
        barrel_rocksdb,
        #{
          dir => "data/testdb"
        }
      }},
    
      {source, {
        barrel_rocksdb,
        #{
          dir => "data/source"
        }
      }}
    ]},

    {replication_file, "data/replication.config"}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
