[
  {barrel, [
    {wpool_opts, [{overrun_warning, 100}]},
 
    {stores, [
      {barrel_test_rocksdb, #{
        store => barrel_rocksdb_store,
        backend => barrel_rocksdb_backend,
        workers => 71,
        dir => "data/testdb"}
      },
      
      {barrel_source_rocksdb, #{
        store => barrel_rocksdb_store,
        backend => barrel_rocksdb_backend,
        workers => 71,
        dir => "data/source"}
      }
    ]}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
