[
  {barrel, [
    {wpool_opts, [{overrun_warning, 100}]},
 
    {stores, [
      {barrel_test_rocksdb, barrel_rocksdb_store, [
        {workers, 71},
        {dir, "testdb"}
      ]},
      {barrel_source_rocksdb, barrel_rocksdb_store, [
        {workers, 71},
        {dir, "source"}
      ]}
    ]}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
