{dev_mode, {{dev_mode}}}.
{include_erts, {{include_erts}}}.
{extended_start_script, true}.
{overlay_vars, "../../config/vars.config"}.
{overlay, [
           {mkdir, "log"},
           {mkdir, "run"},
           {mkdir, "data"},

           %% keep empty files
           {copy, "../../config/empty", "log/KEEP"},
           {copy, "../../config/empty", "data/KEEP"},

           %% config files
           {template, "../../config/barrel.yml", "rel/barrel/etc/barrel.yml"},
           {template, "../../config/vm.args", "rel/barrel/releases/{{rel_vsn}}/vm.args"},
           {template, "../../config/sys.config", "rel/barrel/releases/{{rel_vsn}}/sys.config"}

          ]
}.
