{dev_mode, {{dev_mode}}}.
{include_erts, {{include_erts}}}.
{extended_start_script, true}.
{overlay_vars, "../../config/vars.config"}.
{overlay, [
           {mkdir, "log"},
           {mkdir, "run"},
           {mkdir, "data"},

           %% keep empty files
           {copy, "../../config/empty", "log/KEEP"},
           {copy, "../../config/empty", "data/KEEP"},

           %% config files
  {template, "../../config/barrel.ini", "etc/barrel.ini"},
  {template, "../../config/sys.ini", "releases/{{rel_vsn}}//sys.ini"},
  {template, "../../config/sys.config", "releases/{{rel_vsn}}//sys.config"},
  {template, "../../config/vm.args", "releases/{{rel_vsn}}/vm.args"}

          ]
}.
