%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

[

  {barrel, []},

  {lager, [
    {handlers, [
      {lager_console_backend, error},
      {lager_file_backend, [{file, "barrel.log"}, {level, info}]}
    ]}
  ]},

  %% os_mon config
  {os_mon, [
    {start_memsup, false},
    {start_cpu_sup, false},
    {disk_space_check_interval, 1},
    {disk_almost_full_thresold, 1}
  ]},

  %% SASL config
  {sasl, [
    {utc_log, true},
    {errlog_type, error}
  ]}
].
