%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

[
 %% default couchdb config
 {couch, [
        {config_files, [
                "{{platform_etc_dir}}/couch.ini",
                "{{platform_etc_dir}}/local.ini"
                ]},
        {log_file, "{{platform_log_dir}}/couch.log"}
    ]},


{lager, [{handlers, [
          {lager_console_backend, [info,
                                   {lager_default_formatter,
                                          ["[", pid, "] [", severity, "] ",
                                           message, "\n"]}]}
                    ]}]},

 %% os_mon config
 {os_mon, [
        {start_memsup, false},
        {start_cpu_sup, false},
        {disk_space_check_interval, 1},
        {disk_almost_full_thresold, 1}
    ]},

 %% SASL config
 {sasl, [
         {utc_log, true},
         {sasl_error_logger, {file, "{{sasl_error_log}}"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{sasl_log_dir}}"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
