%% -*- erlang -*-
[

  {barrel_http, [
    {listen_port, 7080},
    {access_log, true}
  ]},

  {barrel_store, [
    {data_dir, "data"},
    {in_memory, false},

    {dbs, [
           #{<<"database_id">> => <<"testdb">>},
           #{<<"database_id">> => <<"source">>}
          ]},

    {metrics, [
      {plugin, barrel_statsd}
    ]}
  ]},

  {barrel_statsd, [
    {server, {{127,0,0,1}, 8125}}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
