%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.
{platform_run_dir,  ""}.
{platform_share_dir, "{{output_dir}}/share"}.

%% vendor info
{vendor_name, "barrel"}.

%% couchjs name
{couchjs_name, "couchjs"}.


%% app config
{couchdb_ip, "0.0.0.0"}.
{couchdb_port, 5984}.
{ssl_port, 6986}.
{sasl_error_log, "log/sasl-error.log"}.
{sasl_log_dir, "log/sasl"}.

%% node
{node, "barrel@127.0.0.1"}.
{cookie, "barrel"}.
{crash_dump,   "log/erl_crash.dump"}.
{node_config, "local.ini"}.

{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
{runner_wait_process, "couch_sup"}.
