%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

%% Platform-specific installation paths
{platform_data_dir, "./data"}.

{web_ip, "127.0.0.0"}.
{web_port, 5983}.
{log_path, "log"}.


%% vendor info
{vendor_name, "barrel"}.

{nodename, "barrel"}.
{cookie, "barrel_cookie"}.

%% api config
{couchdb_ip, "127.0.0.1"}.
{couchdb_port, 5984}.
{couchdb_sport, 6986}.


%% sasl config
{sasl_error_log, "log/sasl-error.log"}.
{sasl_log_dir, "log/sasl"}.

%% node
{node, "barrel@127.0.0.1"}.
{cookie, "barrel"}.
{crash_dump,   "log/erl_crash.dump"}.
