{eunit_opts,[verbose]}.
{profiles,
    [{docs,
         [{deps,
              [{edown,
                   {git,"https://github.com/uwiger/edown.git",{tag,"0.8"}}}]},
          {edoc_opts,
              [{doclet,edown_doclet},
               {packages,false},
               {subpackages,true},
               {top_level_readme,
                   {"./README.md",
                    "http://gitlab.com/barrel-db/erlang-rocksdb"}}]}]}]}.
{pre_hooks,[{"(linux|darwin|solaris)",compile,"make -C c_src all"},
            {"(freebsd)",compile,"gmake -C c_src all"}]}.
{post_hooks,[{"(linux|darwin|solaris)",clean,"make -C c_src clean"},
             {"(freebsd)",clean,"gmake -C c_src clean"}]}.
