{erl_opts, [
  debug_info,
  %warn_export_all,
  warn_obsolete_guard,
  %warn_unused_import,
  warn_unused_vars,
  warn_shadow_vars,
  warnings_as_errors
]}.


{deps,
  [
    %% logs
    {lager, "3.2.4"},
    
    %% HDR Histograms, to handle histograms
    {hdr_histogram, {git, "https://github.com/benoitc/hdr_histogram_erl.git", {branch, "master"}}}
  ]
}.


{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}]}.
