{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [{barrel_store, "0.8.0"},
        {barrel_httpc, "0.11.1"}]}.


{ct_compile_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.
