[
  
  {barrel_http, [
    {port, 8080}
  ]},
  
  {barrel, [
    {wpool_opts, [{overrun_warning, 100}]},
    {default_store, testdb},

    {stores, [
      {testdb, #{
        dir => "data/testdb"}
      },

      {source, #{
        dir => "data/source"}
      }
    ]},

    {replication_file, "data/replication.config"}

  ]},

  {cowboy_swagger, [
    {global_spec,
      #{swagger => "2.0",
        info => #{title => "Barrel-DB HTTP API"},
        basePath => "/_api"
      }
    }
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
