[
  {barrel, [
    {wpool_opts, [{overrun_warning, 100}]},
    {default_store, barrel_test_rocksdb},

    {stores, [
      {barrel_test_rocksdb, barrel_rocksdb_store, [
        {workers, 71},
        {dir, "testdb"}
      ]},
      {barrel_source_rocksdb, barrel_rocksdb_store, [
        {workers, 71},
        {dir, "source"}
      ]}
    ]},

    {http_server, [
      {port, 8080},
      {aliases, [
        {"testdb", <<"testdb">>},
        {"source", <<"source">>},
        {"aliastest", "barrel:disk://localhost:9048/test"}
      ]}
    ]}
  ]},

  {cowboy_swagger, [
    {global_spec,
      #{swagger => "2.0",
        info => #{title => "Barrel-DB HTTP API"},
        basePath => "/_api"
      }
    }
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].
