{include_erts, false}.
{overlay_vars, "../../config/vars.config"}.
{overlay, [
           {mkdir, "log"},
           {mkdir, "run"},
           {mkdir, "data"},

           %% keep empty files
           {copy, "../../config/empty", "log/KEEP"},
           {copy, "../../config/empty", "data/KEEP"},

           %% config files
           {template, "../../config/barrel.ini", "etc/barrel.ini"},
           {template, "../../config/local.ini", "etc/local.ini"}

          ]
}.