{dev_mode, true}.
{include_erts, false}.
{extended_start_script, true}.
{overlay_vars, "../../config/vars.config"}.
{overlay, [
           {mkdir, "log"},
           {mkdir, "run"},
           {mkdir, "data"},

           %% keep empty files
           {copy, "../../config/empty", "log/KEEP"},
           {copy, "../../config/empty", "data/KEEP"},

           %% config files
           {template, "../../config/barrel.yml", "rel/barrel/etc/barrel.yml"},
           {template, "../../config/vm.args", "rel/barrel/releases/0.1.0/vm.args"},
           {template, "../../config/sys.config", "rel/barrel/releases/0.1.0/sys.config"}

          ]
}.
