{dev_mode, true}.
{include_erts, false}.
{extended_start_script, true}.
{overlay_vars, "../../config/vars.config"}.
{overlay, [
           {mkdir, "log"},
           {mkdir, "run"},
           {mkdir, "data"},

           %% keep empty files
           {copy, "../../config/empty", "log/KEEP"},
           {copy, "../../config/empty", "data/KEEP"},

           %% config files
  {template, "../../config/barrel.ini", "etc/barrel.ini"},
  {template, "../../config/sys.ini", "releases///sys.ini"},
  {template, "../../config/sys.config", "releases///sys.config"},
  {template, "../../config/vm.args", "releases//vm.args"}

          ]
}.
