{erl_opts,[{src_dirs,["src"]}]}.
{deps_dir,"deps"}.
{cover_enabled,true}.
{cover_opts,[verbose]}.
{profiles,
    [{test,
         [{deps,
              [{katana_test,
                   {git,"https://github.com/inaka/katana-test",{ref,"0.0.5"}}},
               {mixer,{git,"https://github.com/inaka/mixer",{ref,"0.1.5"}}},
               {meck,"0.8.4"},
               {xref_runner,
                   {git,"https://github.com/inaka/xref_runner",
                       {ref,"0.2.6"}}}]}]}]}.
{xref_warnings,true}.
{xref_checks,[undefined_function_calls,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
