{erl_opts,[{lager_extra_sinks,['__lager_test_sink']},
           debug_info,report,verbose,warn_deprecated_function,
           warn_deprecated_type,warn_export_all,warn_export_vars,
           warn_obsolete_guard,warn_untyped_record,warn_unused_import]}.
{erl_first_files,["src/lager_util.erl"]}.
{eunit_opts,[verbose]}.
{eunit_compile_opts,[export_all,nowarn_untyped_record,nowarn_export_all]}.
{xref_checks,[]}.
{xref_queries,[{"(XC - UC) || (XU - X - B - lager_default_tracer : Mod - erlang:\"(is_map|map_size)\"/1 - maps:to_list/1)",
                []}]}.
{cover_enabled,true}.
{edoc_opts,[{stylesheet_file,"./priv/edoc.css"}]}.
