{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [{barrel, "0.7.0"},
        {cowboy, "1.0.4"},
        {trails, "0.2.1"},
        {cowboy_swagger, "1.2.2"},
        {jsx, "2.8.1"},
        {hackney, "1.6.5"} ]
}.


{ct_compile_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.
