{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [{barrel, "0.7.0"},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.9"}}},
        {jsx, "2.8.1"},
        {hackney, "1.7.1"} ]
}.


{ct_compile_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.
